{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block content %}
<div class="container">
    <h2 class="my-4">Shopping Bag</h2>
    <div class="row justify-content-center">
        <div class="col-12 col-md-6">
            {% if bag_items %}
            <table class="table table-text">
                <thead>
                    <tr>
                        <th scope="col">Image</th>
                        <th scope="col">Information</th>
                        <th scope="col">Price</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Subtotal</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in bag_items %}
                    <tr>
                        <td class="align-middle">
                            {% if item.product.image %}
                            <a href="{% url 'product_detail' item.product.id %}">
                                <img class="card-img-top img-fluid img-thumbnail image-table-admin" width="150"
                                    height="150" src="{{ item.product.image.url }}" alt="{{ item.product.name }}">
                            </a>
                            {% else %}
                            <a href="{% url 'product_detail' item.product.id %}">
                                <img class="card-img-top img-fluid img-thumbnail image-table-admin" width="150"
                                    height="150" src="
                            {{ MEDIA_URL }}noimage.png" alt="{{ post.name }}">
                            </a>
                            {% endif %}
                        </td>
                        <td class="align-middle">
                            <p class="my-0"><strong>{{ item.product.name }}</strong></p>
                            <p class="my-0"><strong>Size:
                                </strong>{% if item.product.product_size %}{{ item.size|upper }}{% else %}N/A{% endif %}
                            </p>
                            <p class="my-0 small text-muted">SKU: {{ item.product.sku|upper }}</p>
                        </td>
                        <td class="align-middle">
                            <p class="my-0 text-muted">€{{ item.product.price|upper }}</p>
                        </td>
                        <td class="align-middle py-3 w-25 text-center">
                            <form class="form update-form" method="POST" action="{% url 'adjust_bag' item.item_id %}">
                                {% csrf_token %}
                                <input class="form-control form-control-sm qty_input" type="number" name="quantity"
                                    value="{{ item.quantity }}" min="1" max="99" data-item_id="{{ item.item_id }}"
                                    id="id_qty_{{ item.item_id }}">
                                {% if item.product.product_size %}
                                <input type="hidden" name="product_size" value="{{ item.size }}">
                                {% endif %}
                            </form>
                            <a class="update-link btn"><small><strong>Update</strong></small></a>
                            <a class="remove-item btn text-danger" id="remove_{{ item.item_id }}"
                                data-product_size="{{ item.size }}"><small><strong>Remove</strong></small></a>
                        </td>
                        <td class="align-middle">
                            <p class="my-0">Price Each: €{{ item.product.price }}</p>
                            <p><strong>Subtotal:
                                </strong>€{{ item.product.price | calc_subtotal:item.quantity }}</p>
                        </td>
                        {% endfor %}
                </tbody>
            </table>
            <div class="text-right">
                <p><strong>Bag Total: ${{ total|floatformat:2 }}</strong></p>
                Delivery: ${{ delivery|floatformat:2 }}
                <p class="mt-4"><strong>Grand Total: ${{ grand_total|floatformat:2 }}</strong></p>
                {% if free_delivery_delta > 0 %}
                <p class="mb-1 text-danger">
                    You could get free delivery by spending just <strong>${{ free_delivery_delta }}</strong> more!
                </p>
                {% endif %}

                <a href="{% url 'list_all_products' %}" class="btn btn-outline-secondary rounded btn-sm">
                    <span class="icon">
                        <i class="fas fa-chevron-left"></i>
                    </span>
                    <span class="text-uppercase">Keep Shopping</span>
                </a>
                <a href="{% url 'checkout' %}" class="btn btn-outline-secondary rounded btn-sm">
                    <span class="text-uppercase">Secure Checkout</span>
                    <span class="icon">
                        <i class="fas fa-lock"></i>
                    </span>
                </a>
            </div>

            {% else %}
            <h1 class="lead mb-5">Your bag is empty.</h1>
            <div class="text-center">
                <a href="{% url 'list_all_products' %}" class="btn btn-outline-secondary rounded btn-sm">
                    <span class="icon">
                        <i class="fas fa-chevron-left"></i>
                    </span>
                    <span class="text-uppercase">Keep Shopping</span>
                </a>
            </div>
            {% endif %}
        </div>



    </div>
</div>
{% endblock %}


{% block postloadjs %}
{{ block.super }}



<script type="text/javascript">
    // Update quantity on click
    $('.update-link').click(function (e) {
        var form = $(this).prev('.update-form');
        form.submit();
    })

    // Remove item and reload on click
    $('.remove-item').click(function (e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var size = $(this).data('product_size');
        var url = `/bag/remove/${itemId}/`;
        var data = {
            'csrfmiddlewaretoken': csrfToken,
            'product_size': size
        };

        $.post(url, data)
            .done(function () {
                location.reload();
            });
    })
</script>
{% endblock %}