{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container w-50">
    <h1 class="my-5">Kollektiv Fem FAQ</h1>
    <h2 class="my-5">About Kollektiv Fem</h2>
    <div class="text-center faq text-uppercase my-5">
        <p class="my-4 fw-bold">What are you selling?</p>
        <p class="faq-answers">Kollektiv Fem sells everything from vinyl records, cds, cassettes, t-shirts to tote bags,
            pins, tank tops,
            you name it! The list goes on!
        </p>
        <p class="my-4 fw-bold">What does the guarantee cover?</p>
        <p class="faq-answers">We only ship high quality items and if you aren't happy, just contact us and we will
            handle it. For most
            products the items have a 1 year guarantee.
        </p>
        <p class="my-4 fw-bold">How can I contact Kollektiv Fem?</p>
        <p class="faq-answers">Our location is Umeå in the north of Sweden but it's very cold here most time of the
            year, so it's more
            comfortable to hang out
            with
            us here on the web (try <a href="https://facebook.com/kollektivfem.se" target=_blank class="text-dark">our
                Facebook</a> or <a href="https://instagram.com/kollektivfem.se" target=_blank class="text-dark">our
                Instagram!</a>)
        </p>
        <h2 class="my-5">Security & Payment Methods</h2>
        <div class="text-center faq text-uppercase">
            <p class="my-2 fw-bold">Is your site secure?</p>
            <p class="faq-answers">The short answer is yes. If you look on our web address you can see the letter S
                (secure) after http
                which indicates that the site is using Secure Sockets Layer (SSL) Certification. This means that all
                communication between you and our site is encrypted. But it is still very important that you keep
                track of your password and so on so, that's your responsibility.
            </p>
            <p class="my-2 fw-bold">How can I get hold of a discount code?</p>
            <p class="faq-answers">If you sign-up to our newsletter in the bottom of the page (in the footer) and
                you will get, besides
                discount codes now and then, a lot of exciting information of what's going on at Kollektiv Fem.
            </p>
        </div>
        <h2 class="my-5">Shipping & Returns</h2>
        <div class="text-center faq text-uppercase">
            <p class="my-2 fw-bold">What time will the products be dispatched?</p>
            <p class="faq-answers">We generally ship your order within a week.
            </p>
            <p class="my-2 fw-bold"> Where do your items come from?</p>
            <p class="faq-answers">All our items are manufactured in Umeå, Sweden.
            </p>
            <p class="my-2 fw-bold">What about your return policy?</p>
            <p class="faq-answers">
                You can return the product within 10 days of delivery for full refund. It's important that the item
                is in its original condition. If something is not wrong with the product you pay the shipping to us
                by yourself.
            </p>
        </div>
    </div>
</div>
{% endblock %}