{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <h2 class="my-4">My Profile</h2>
    <div class="row justify-content-center">
        <div class="col-12 col-md-6">
            <h5 class="text-muted">Current Delivery Information</h5>
            <form method="POST" class="form-text mb-2" action="{% url 'profile' %}" id="profile-update-form"
                enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="text-center mb-4">
                    <a class="btn btn-sm btn-outline-secondary rounded" href="{% url 'home' %}">Cancel</a>
                    <button class="btn btn-sm btn-outline-secondary rounded" type="submit">Update
                        Information</button>
                </div>
            </form>
        </div>
        <div class="col ml-lg-5">
            <h5 class=" text-muted mb-5">Order History</h5>
            <table class="table table-sm table-text">
                <thead>
                    <tr>
                        <th scope="col">Order Number</th>
                        <th scope="col">Date</th>
                        <th scope="col">Items</th>
                        <th scope="col">Order Total</th>
                    </tr>
                </thead>
                <tbody>
                    {% for order in orders %}
                    <tr>
                        <td class="align-middle"> <a href="{% url 'order_history' order.order_number %}"
                                title="{{ order.order_number }}">
                                {{ order.order_number|truncatechars:5 }}
                            </a>
                        </td>
                        <td class="align-middle">{{ order.date|date:"Y-m-d" }}</td>
                        <td class="align-middle">

                            {% for item in order.lineitems.all %}

                            {% if item.product.product_size %}
                            Size {{ product.size|upper }}{% endif %}{{ item.product.name }} *
                            {{ item.quantity }}
                            <br>
                            {% endfor %}
                        </td>
                        <td class="align-middle">€{{ order.grand_total }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}