/* ==============
   google fonts
   ============== */

@import url('https://fonts.googleapis.com/css2?family=Cousine:ital,wght@0,400;0,700;1,400;1,700&family=Nunito+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* ==============
   global styles
   ============== */

/* ==================
   top bar & nav bar
   ================== */

#topContent {
    background-color: orange;
    height: 3rem;
}

.navbar-brand {
    font-family: 'Poppins', sans-serif;
    font-size: 3rem;
    font-weight: 700;
}

.navbar,
.dropdown-item,
.button-text,
#topContent {
    font-family: 'Nunito Sans', sans-serif;
    text-transform: uppercase;
    font-size: 12px;
}

/* ==============
   footer
   ============== */

.footer-bg {
    background-color: orange;
    ;
}

.footer-text {
    font-family: 'Nunito Sans', sans-serif;
}