/* ==============
   google fonts
   ============== */

@import url('https://fonts.googleapis.com/css2?family=Cousine:ital,wght@0,400;0,700;1,400;1,700&family=Nunito+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* ==============
   global styles
   ============== */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    text-align: center;
}

.btn-black {
    background: black;
    color: white;
}

.dropdown {
    font-family: 'Nunito Sans', sans-serif;

}

.body-text {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 15px;
}

.product-description {
    font-family: 'Cousine', monospace;
    font-size: 15px;
}

.img-zoom {
    overflow: hidden;
}

.img-zoom img {
    transition: transform .5s ease;
}

.img-zoom:hover img {
    transform: scale(1.2);
}

/* ==============
   links
   ============== */



/* ==================
   top bar & nav bar
   ================== */

#topContent {
    background-color: #ce8147;
    font-family: 'Nunito Sans', sans-serif;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 700;
    height: 3rem;
}

.navbar-brand {
    font-family: 'Poppins', sans-serif;
    font-size: 5rem;
    font-weight: 700;
    color: #561d25;
}

.navbar {
    background-color: #fff4d2;
}

.navbar,
.dropdown-item,
.button-text {
    font-family: 'Nunito Sans', sans-serif;
    text-transform: uppercase;
    font-size: 1rem;
}

/* ==============
   carousel
   ============== */

.carousel-item {
    height: 32rem;
    background: #000000;
    position: relative;
    color: #000000;
    background-position: center;
    background-size: cover;
}

.slide-1 {
    background-image: url(/media/kfem_canvas_07.png);
}

.slide-2 {
    background-image: url(/media/kfem_canvas_04.png);
}

.overlay-image {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-position: center;
    background-size: cover;
    opacity: 0.5;
}

.carousel-text-box-headline {
    font-size: 4rem;
    font-weight: 700;
}

.carousel-text-box {
    font-family: 'Nunito Sans', sans-serif;
    text-transform: uppercase;
    font-size: 1.2rem;
    color: #ffffff;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 100px;
}

.carousel-button {
    font-family: 'Poppins', sans-serif;
    color: #fff4d2;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 700;

    background-color: #ce8147;
}

.carousel-search-box {
    background-color: #fff4d2;
}


.carousel-control-next-icon,
.carousel-control-prev-icon {
    width: 48px;
    height: 48px;
}

/* ==================
   blog posts
   ================== */

.card-title {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 1.2rem;
}

.card-text {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1rem;
    text-align: center;
}

.blog-detail-headline {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
}

.blog-detail-body {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.1rem;
}



/* ==============
   input fields
   ============== */

input[type=search] {
    border: none;
    border-bottom: 1px solid #dfe2e6;
    background-color: #fff4d2;
    font-size: 1rem;
}

input[type=search]:focus {
    background-color: #fff4d2;
}


input[type=email] {
    border: 1px solid #000000;
    background-color: #fff4d2;
    font-size: 1rem;
}

input[type=email]:focus {
    background-color: #fff4d2;
}

.nav-search-btn {
    color: #707071;
    font-size: 12px;
    background-color: #fff4d2;
    border: none;
}

.news-letter-envelope {
    border: 1px solid #000000;
    background-color: #fff4d2;
}

.form-text {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1rem;
}

.table-text {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 0.8rem;
}

.image-table-admin {
    width: 50px;
    height: 50px;
}


/* ==============
   allauth
   ============== */
.allauth-text {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1rem;
}


/* ==============
   footer
   ============== */

.footer-bg {
    background-color: #ce8147;
}

.footer-text {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.2rem;
}


/* ============================
   Image field in product form
   ============================ */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}


/* ============================
   bag
   ============================ */

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}


/* ==============
   media queries
   ============== */

@media screen and (max-width: 1200px) {
    .carousel-text-box-headline {
        font-size: 2rem;
        font-weight: 700;
    }

    .carousel-text-box {
        font-size: 1.0rem;
        padding-bottom: 150px;
    }
}

@media screen and (max-width: 375px) {
    .navbar-brand {
        font-size: 1.5em;
    }

    #kfemCarousel {
        display: none;
    }
}