/* ==============
   google fonts
   ============== */

@import url('https://fonts.googleapis.com/css2?family=Cousine:ital,wght@0,400;0,700;1,400;1,700&family=Nunito+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* ==============
   global styles
   ============== */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;

}

.body-text {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 15px;
}

.product-description {

    font-family: 'Cousine', monospace;
    font-size: 15px;
}

.img-zoom {
    overflow: hidden;
}

.img-zoom img {
    transition: transform .5s ease;
}

.img-zoom:hover img {
    transform: scale(1.2);
}


/* ==================
   top bar & nav bar
   ================== */

#topContent {
    background-color: orange;
    height: 3rem;
}

.navbar-brand {
    font-family: 'Poppins', sans-serif;
    font-size: 3rem;
    font-weight: 700;
}

.navbar,
.dropdown-item,
.button-text,
#topContent {

    font-family: 'Nunito Sans', sans-serif;
    text-transform: uppercase;
    font-size: 12px;
}

/* ==============
   carousel
   ============== */

.carousel-item {
    height: 32rem;
    background: rgb(126, 126, 126);
    position: relative;
    color: black;
    background-position: center;
    background-size: cover;

}

.slide-1 {
    background-image: url(/media/kfem_canvas_07.png);
}

.slide-2 {
    background-image: url(/media/kfem_canvas_04.png);
}

.overlay-image {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-position: center;
    background-size: cover;
    opacity: 0.8;


}

.carousel-text-box {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 100px;
}

.carousel-button {
    font-family: 'Poppins', sans-serif;
    color: orange;
    text-transform: uppercase;
    font-size: 4rem;
    font-weight: 700;
    background-color: rgba(1, 2, 1, 0.2);
    border-radius: 25px;
    border: 2px solid orange;
    padding: 20px;

}

/* ==============
   input fields
   ============== */

input[type=search] {
    border: none;
    border-bottom: 1px solid #dfe2e6;
    background-color: #f8f9fa;
    font-size: 12px;
}

input[type=sign-up] {
    border: none;
    border-bottom: 1px solid #000000;
    background-color: orange;
    font-size: 12px;
}

.nav-search-btn {
    color: #707071;
    font-size: 12px;
    background-color: #f8f9fa;
    border: none;
}

.footer-search-btn {
    color: #000;
    font-size: 12px;
    background-color: orange;
    border: none;
}

/* ==============
   footer
   ============== */

.footer-bg {
    background-color: orange;
    ;
}

.footer-text {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 12px;
}

/* ------------------------------- bootstrap toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}