{% extends 'base.html' %}
{% block content %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-6">
            <h1>
                The page you are looking for isn't available
            </h1>
            <p>
                <a href="{% url 'list_all_products' %}"
                    class="btn btn-outline-secondary btn-sm rounded text-uppercase py-3">
                    Return to Kollektiv Fem
                </a>
            </p>
        </div>
    </div>
</div>
{% endblock %}