<footer class="mt-auto footer-text footer-bg">
    <div class="container pt-4 text-center w-50">

        Kollektiv Fem (KFEM) is a small record label, e-shop, and creative studio located in the north of Sweden.
        Risen from the ashes of Dreamnation Studios (DNS) in 2018. Make sure to follow us on social media (see links
        below)!

        <form class="w-auto mt-3">
            <div class="input-group mb-3">
                <button class="btn btn-link footer-search-btn" type="submit"><i class="fa-solid fa-envelope"
                        aria-hidden="true"></i></button>
                <input class="form-control input-sm me-2" type="sign-up" placeholder="Sign up to our newsletter"
                    aria-label="Sign-up">
            </div>
        </form>
        <div class="mb-4">
            <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!" role="button"><i
                    class="fab fa-facebook-f"></i></a>
            <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!" role="button"><i
                    class="fab fa-instagram"></i></a>
        </div>
    </div>
    <div class="text-center text-dark p-3"">
        © 2022 Copyright:
        <a class=" text-dark" href="https://www.kollektivfem.se/">kollektivfem.com</a>
    </div>
    <!-- Copyright -->
</footer>