<nav class="navbar navbar-expand-xxl">
    <div class="container-fluid">
        <a class="navbar-brand ml-4" href="{% url 'home' %}">KFEM.</a>
        <button class="navbar-toggler mr-4" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse text-center" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownProducts" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Products
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownProducts">
                        <li><a class="dropdown-item" href="{% url 'list_all_products' %}?sort=date&direction=desc">By
                                Added Date</a></li>
                        <li><a class="dropdown-item" href="{% url 'list_all_products' %}?sort=price&direction=asc">By
                                Price</a></li>
                        <li><a class="dropdown-item" href="{% url 'list_all_products' %}?sort=rating&direction=desc">By
                                Rating</a></li>
                        <li><a class="dropdown-item" href="{% url 'list_all_products' %}?sort=name&direction=asc">By
                                Name</a></li>
                        <li><a class="dropdown-item" href="{% url 'list_all_products' %}">All Products</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownCategories" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Categories
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownCategories">
                        <li><a class="dropdown-item" href="{% url 'list_all_products' %}?category=tapes">Tapes</a></li>
                        <li>
                            <a class="dropdown-item" href="{% url 'list_all_products' %}?category=cds">CDs</a>
                        </li>
                        <li><a class="dropdown-item" href="{% url 'list_all_products' %}?category=posters">Posters</a>
                        </li>
                        <li><a class="dropdown-item" href="{% url 'list_all_products' %}?category=pins">Pins</a></li>
                        <li><a class="dropdown-item" href="{% url 'list_all_products' %}?category=tshirts">T-shirts</a>
                        </li>
                        <li><a class="dropdown-item" href="{% url 'list_all_products' %}?category=tanktops">Tank
                                Tops</a></li>
                        <li><a class="dropdown-item" href="{% url 'list_all_products' %}?category=totebags">Tote
                                Bags</a></li>
                        <li><a class="dropdown-item" href="{% url 'list_all_products' %}?category=vinyls">Vinyls</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownSpecialOffers" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Special Offers
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownSpecialOffers">
                        <li><a class="dropdown-item" href="{% url 'list_all_products' %}?tag=newarrivals">New
                                Arrivals</a>
                        </li>
                        <li><a class="dropdown-item" href="{% url 'list_all_products' %}?tag=productofthemonth">Product
                                of
                                the Month</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="navbar-nav d-flex flex-row me-1 justify-content-center">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMyAccount" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false"><i class="fa-solid fa-user"></i>
                        My Account
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMyAccount">
                        {% if request.user.is_authenticated %}
                        {% if request.user.is_superuser %}
                        <li>
                            <a href="{% url 'add_product' %}" class="dropdown-item">Manage Products</a>
                        </li>
                        <li>
                            <a href="{% url 'add_blog_post' %}" class="dropdown-item">Manage Blog</a>
                            {% endif %}
                        </li>
                        <li>
                            <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                        </li>
                        {% else %}
                        <li>
                            <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                        </li>
                        <li>
                            <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                        </li>
                        {% endif %}
                    </ul>
                </li>
                <li class="nav-item me-3 me-lg-0">
                    <a class="nav-link ml-2" href="{% url 'view_bag' %}"><i class="fa-solid fa-cart-shopping fa-fw"></i>
                        {% if grand_total %}
                        €{{ grand_total|floatformat:2 }}
                        {% else %}
                        €0.00
                        {% endif %}
                    </a>
                </li>
            </ul>
            <form method="GET" action="{% url 'list_all_products' %}" class="w-auto mx-4">
                <div class="input-group">
                    <button class="btn btn-link nav-search-btn" type="submit"><i class="fa fa-search fa-fw"
                            aria-hidden="true"></i></button>
                    <input class="form-control me-2" type="search" name="q" placeholder="Search" aria-label="Search">
                </div>
            </form>
        </div>
    </div>
</nav>