{% extends 'base.html' %}
{% load static %}

{% block content %}


<!-- Blog post detail -->
<div class="container">
    <div>
        {% if blog_post.status is 0 %}
        <h1 class="headline mt-4">This blog post is not published yet</h1>
        {% else %}

        <h1 class="headline mt-4">{{ blog_post.title }}</h1>

        <hr>

        <div class="image-container">
            {% if blog_post.featured_image %}
            <img class="mb-3" src="{{ blog_post.featured_image.url }}" alt="{{ post.name }}">

            {% else %}

            <img class="mb-3" src="
                {{ MEDIA_URL }}noimage.png" alt="{{ post.name }}">
            {% endif %}
        </div>

        {{ blog_post.body }}
        {% endif %}
    </div>

    <p>
        <a href="{% url 'home' %}" class="btn btn-outline-secondary btn-sm">Back to home</a>

        <a href="{% url 'edit_blog_post' blog_post.slug %}" class="btn btn-outline-secondary btn-sm">edit</a>
        <a href="{% url 'delete_blog_post' blog_post.slug %}" class="btn btn-outline-secondary btn-sm">delete</a>

        <a href="" data-bs-toggle="modal" data-bs-target="#warningModal">Delete</a>
</div>



<!-- Warning Modal -->
<div class=" modal fade" id="warningModal" tabindex="-1" aria-labelledby="imageModal" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="imageModalLabel">{{ blog_post.title }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p class="alert alert-danger">Are you sure that you want to delete the post?</p>
            </div>
            <div class="modal-footer">

                {{ post.slug }}

                <a href="{% url 'delete_blog_post' blog_post.slug %}"
                    class="btn btn-outline-secondary btn-sm">delete</a>

                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- End of Warning Modal -->




{% endblock %}