{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <h2 class="my-4">Blog Management</h2>
    <div class="row justify-content-center">
        <div class="col-12 col-md-6">
            <h5 class="text-muted">Edit a Blog Post</h5>
            <form method="POST" class="form-text mb-2" action="{% url 'edit_blog_post' blog_post.slug %}"
                enctype="multipart/form-data">
                {% csrf_token %}
                {% for field in form %}
                {% if field.name != 'image' %}
                {{ field | as_crispy_field }}
                {% else %}
                {{ field }}
                {% endif %}
                {% endfor %}
                <div class="text-right mb-4">
                    <a href="#" class="btn btn-outline-danger btn-sm" data-bs-toggle="modal"
                        data-bs-target="#warningModal">Delete Post</a>
                    <a class="btn btn-sm btn-outline-secondary rounded" href="{% url 'add_blog_post' %}">Cancel</a>
                    <button class="btn btn-sm btn-outline-secondary rounded" type="submit">Update Blog Post</button>
                </div>
            </form>
        </div>

        <div class="col">
            <h5 class="text-muted mb-5">Blog history</h5>
            <table class="table table-sm table-text">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Image</th>
                        <th scope="col">Title</th>
                        <th scope="col">Date</th>
                        <th scope="col">Author</th>
                        <th scope="col">Status</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for post in posts %}
                    <tr>
                        <td class="align-middle" scope="row">{{ post.id }}</td>
                        <td class="align-middle" scope="row">
                            {% if post.featured_image %}
                            <a href="{% url 'blog_post_detail' post.slug %}">
                                <img class="card-img-top img-fluid img-thumbnail image-table-admin" width="150"
                                    height="150" src="{{ post.featured_image.url }}" alt="{{ post.name }}">
                            </a>
                            {% else %}
                            <a href="{% url 'blog_post_detail' post.slug %}">
                                <img class="card-img-top img-fluid img-thumbnail image-table-admin" width="150"
                                    height="150" src="
                                {{ MEDIA_URL }}noimage.png" alt="{{ post.name }}">
                            </a>
                            {% endif %}
                        </td>
                        <td class="align-middle" scope="row">{{ post.title }}</td>
                        <td class="align-middle" scope="row">{{ post.date_created_on|date:"Y-m-d" }}</td>
                        <td class="align-middle" scope="row">{{ post.author }}</td>
                        <td class="align-middle" scope="row">{% if post.status == 1 %}Published {% else%}Not
                            Published{% endif %}</td>
                        <td class="align-middle" scope="row">
                            {% if post.slug in request.get_full_path %}
                            You are editing this post
                            {% else %}
                            <a href="{% url 'edit_blog_post' post.slug %}" class=" btn btn-danger btn-sm">Edit</a>
                            {% endif %}
                        </td>
                    </tr>
                </tbody>
                {% endfor %}
            </table>
        </div>
    </div>
</div>



<!-- Warning Modal -->
<div class=" modal fade" id="warningModal" tabindex="-1" aria-labelledby="imageModal" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-upper" id="imageModalLabel">Delete post</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p class="alert alert-danger">Are you sure that you want to delete the post <span
                        class="fw-bold">'{{ blog_post.title }}'?</span></p>
            </div>
            <div class="modal-footer">

                {{ post.slug }}

                <a href="{% url 'delete_blog_post' blog_post.slug %}" class="btn btn-outline-danger btn-sm">Delete</a>

                <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- End of Warning Modal -->
{% endblock %}