{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container">
    <h2 class="my-4">Product Management</h2>
    <div class="row justify-content-center">
        <div class="col-12 col-md-6">
            <h5 class="text-muted">Add a product</h5>
            <form method="POST" class="form-text mb-2" action="{% url 'add_product' %}" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="text-right mb-4">
                    <a class="btn btn-sm btn-outline-secondary rounded" href="{% url 'list_all_products' %}">Cancel</a>
                    <button class="btn btn-sm btn-outline-secondary rounded" type="submit">Add Product</button>
                </div>
            </form>
        </div>
        <div class="col">
            <h5 class="text-muted mb-5">Product List</h5>
            <div class="product-list-wrapper">
                <table class="table table-sm table-text">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Image</th>
                            <th scope="col">Name</th>
                            <th scope="col">Date</th>
                            <th scope="col">Status</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for product in products %}
                        <tr>
                            <td class="align-middle">{{ product.id }}</td>
                            <td class="align-middle">
                                {% if product.image %}
                                <a href="{% url 'product_detail' product.id %}">
                                    <img class="card-img-top img-fluid img-thumbnail image-table-admin" width="150"
                                        height="150" src="{{ product.image.url }}" alt="{{ product.name }}">
                                </a>
                                {% else %}
                                <a href="{% url 'product_detail' product.id %}">
                                    <img class="card-img-top img-fluid img-thumbnail image-table-admin" width="150"
                                        height="150" src="
                                {{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                                </a>
                                {% endif %}
                            </td>
                            <td class="align-middle">{{ product.name }}</td>
                            <td class="align-middle">{{ product.date|date:"Y-m-d" }}</td>
                            <td class="align-middle">{% if post.status == 1 %}Published {% else%}Not
                                Published{% endif %}</td>
                            <td class="align-middle">
                                <a href="{% url 'edit_product' product.id %}" class=" btn btn-danger btn-sm">Edit</a>
                            </td>
                        </tr>
                    </tbody>
                    {% endfor %}
                </table>
            </div>


        </div>
    </div>
</div>
{% endblock %}