{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container text-center">
    {% if not request.user.is_superuser and product.status is 0 %}
    <h1 class="mt-5">This product is not published yet</h1>
    {% else %}
    <h1 class="mt-5">{{ product.name }}</h1>
    {% if product.category %}
    <p class="small mt-1 mb-0">
        <a class="text-muted" href="{% url 'list_all_products' %}?category={{ product.category.name }}">
            <i class="fa-solid fa-list mr-1"></i> {{ product.category.view_name }}
        </a>
    </p>
    <p class="small mt-1 mb-0 mb-0 text-muted">
        {% for tag in product.tags.all %} <i class="fa-solid fa-tag">
        </i><a class="text-muted" href="{% url 'list_all_products' %}?tag={{ tag }}">{{ tag.view_name }}</a>{% endfor %}
    </p>
    {% endif %}


    <div class="image-container my-5">
        {% if product.image %}
        <a href="{{ product.image.url }}" data-bs-toggle="modal" data-bs-target="#imageModal">
            <img class="img-fluid rounded" src="{{ product.image.url }}" alt="{{ product.name }}">
        </a>
        {% else %}
        <img class="img-fluid rounded" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
        {% endif %}
    </div>
    <p class="product-description">{{ product.description }}</p>
    {% if product.rating %}
    <p class="mb-1 text-muted smallcard-text"><i class="fas fa-star mr-1"></i>{{ product.rating }} / 5</p>
    {% else %}
    <p class="text-muted small">No Rating</p>
    {% endif %}

    <p class="lead mb-0 font-weight-bold">€{{ product.price }}</p>

    <form class="form mb-5" action="{% url 'add_to_bag' product.id %}" method="POST">
        {% csrf_token %}

        {% with product.product_size as s %}
        {% if s %}
        <div class="row justify-content-center">
            <p><strong>Size: </strong></p>
            <select class="form-control form-select rounded-0 w-25" name="product_size" id="product_size">
                <option value="xs">XS</option>
                <option value="s">S</option>
                <option value="m">M</option>
                <option value="l">L</option>
                <option value="xl">XL</option>
            </select>
        </div>
        {% endif%}
        <div class="row justify-content-center">
            <p class="mt-3"><strong>Quantity:</strong></p>
            <div class="form w-25">

                <input class="form-control" type="number" name="quantity" value="1" min="1" max="99"
                    data-item_id="{{ product.id }}">
            </div>
        </div>
        <div>
            <a href="{% url 'list_all_products' %}" class="btn btn-sm btn-outline-secondary rounded mt-5">
                <span class="icon">
                    <i class="fas fa-chevron-left"></i>
                </span>
                <span class="text-uppercase">Keep Shopping</span>
            </a>
            <input type="submit" class="btn btn-sm btn-outline-secondary rounded mt-5 text-uppercase" id="liveToastBtn"
                value="Add to Bag">

            {% if request.user not in product.users_wishlist.all %}
            <a class="btn btn-outline-secondary btn-sm rounded mt-5 text-uppercase"
                href="{% url 'add_to_wishlist' product.id %}">Add To Wishlist</a>
            {% else %}
            <a class="btn btn-outline-secondary disabled btn-sm rounded mt-5 text-uppercase"
                href="{% url 'add_to_wishlist' product.id %}">In your wishlist</a>
            {% endif %}

            {% if request.user.is_superuser %}
            <a class="btn btn-danger btn-sm rounded mt-5 text-uppercase"
                href="{% url 'edit_product' product.id %}">Edit</a>
            {% endif %}
        </div>
        <input type="hidden" name="redirect_url" value="{{ request.path }}">
        {% endwith %}
    </form>
</div>

<!-- Image Modal -->
<div class=" modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModal" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="imageModalLabel">{{ product.name }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {% if product.image %}
                <a href="{{ product.image.url }}" data-bs-toggle="modal" data-bs-target="#imageModal">
                    <img class="card-img-top rounded" src="{{ product.image.url }}" alt="{{ product.name }}">
                </a>
                {% else %}
                <img class="card-img-top img-fluid rounded" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                {% endif %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
    {% endif %}
</div>
<!-- End of Image Modal -->

{% endblock %}